body{
  color: #4e6b8a;
  width: 90%;
  margin: auto;
  line-height:2;
}

hr {
  border: 0px;
  line-height:3px;
  margin-left: 540px;
  margin-right: 540px;
  border-top:7px dotted whitesmoke;
}

#header {
  background: #E4F8F6;
  text-align: center;
  font-size: 20px;
  padding-top: 40px;
}

#header h1{
  font-family: 'Sacramento' ;
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #65BEBE;  
}

#header h2{
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #65BEBE; 
}

.cloud1{
  padding: 20px;
  display: flow-root;
  margin-left: 70%;  
}

.cloud2{
  display: flow-root;
  margin-left: 20%;
  padding: 20px;
}

.mountain{
  display: inline;
  padding: auto;
  left: 50%;
}

.unhas {
  width: 30%;
  margin-top: 40px;
}

#hello h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 26pt;
  color: #65BEBE;
}

#hello {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 16pt;
}

#spesial{
  margin-left: 20%;
  margin-right: 20%;
}

#spesial1 h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 26pt;
  color: #65BEBE;
}

#spesial1 h3{
  font-family: 'Merriweather', serif;
  color: #65BEBE;
  font-size: 16pt;
}
#spesial1 p{
  font-family: 'Merriweather', serif;
  font-size: 16pt;
  margin-bottom: 200px;
  text-align: justify;
}

#spesial2 p{
  font-family: 'Merriweather', serif;
  font-size: 16pt;
  margin-bottom: 100px;
  text-align: justify;
  width: 750px;
}

#spesial2 h3{
  font-family: 'Merriweather', serif;
  color: #65BEBE;
  font-size: 16pt;
}

.code {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 50px;

}
.chillies {
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 50px;
}

#contact h2{
  text-align-last: center;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  color: #65BEBE;
}

#contact h3{
  text-align-last: center;
  font-family: Montserrat, serif;
  font-size: 16pt;
  color: #65BEBE;
}

#contact {
  font-size: 16pt;
  font-family: Merriweather, serif;
  text-align: center;
}

#contact a{
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color: white;
  padding: 15px;
  background-color: #1F979C;
  border-radius: 10px;
  border: 1px;
}

#contact a:hover{
  color: black;
}

#sosmed {
  background: #65BEC3;
  margin-top: 50px;
  text-align: center; 
  padding: 50px;
}

.fb-link {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  margin-left: 35px;
  margin-right: 35px;
  text-decoration: none;
  font-weight: bold;
  color:  	#219B9C;
}

.fb-link:hover{
  color: white;
}

.twitter-link {
 font-family: Montserrat, sans-serif;
 font-size: 20px;
 margin-left: 35px;
 margin-right: 35px;
 text-decoration: none;
 font-weight: bold;
 color:  	#219B9C;
}

.twitter-link:hover{
  color: white;
}

.insta-link {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  margin-left: 35px;
  margin-right: 35px;
  text-decoration: none;
  font-weight: bold;
  color:  	#219B9C;
}

.insta-link:hover{
  color: white;
}

.copyright {
  font-family: Merriweather, sans-serif;
  color: white;
  margin-top: 50px;
}
